# We want to ignore some files that are too large to be git pushed.
# Specifically, all our output files may contain unusually large objects that we don't want to push to github

**/fz

**/t

*.root

*.uan

#*.txt

*.dat

*.csv

*#

*~

slurm*

core.*

/Antenna_Performance_Metric/AraOut*

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/*.txt

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/Antenna_Performance_Metric/*.txt

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/Database/*.txt

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/*.txt

/AraSim

/AraSim_old

/AraSim_old2

/anitaBuildTool

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/Run_Outputs/

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/saveStates/

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Evolutionary_Loop/scriptEOFiles/

gitpush.sh

gitpushforce.sh


/BiconeEvolution/current_antenna_evo_build/XF_Loop/Xmacros/output.xmacro

/BiconeEvolution/current_antenna_evo_build/XF_Loop/Xmacros/simulation_PEC.xmacro
